body {
    width: 450px;
    height: 520px;
    overflow-x: hidden;
}

ul, li { list-style: none; }

input[type=image] {
    width: 2.5em;
    height: 2.5em;
    padding: 0.4em;
    background-color: #ffffff;
    color: #000000;
}

input[type=image]:hover {
    cursor: pointer;
    background-color: #a3b83b;
    color: #ffffff;
}

#savedSessions {
    height: 365px;
    min-height: 365x;
    max-height: 365px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 0.6em;
    margin-top: 0.6em;
}

#editSelectionContainer {
    height: 350px;
    min-height: 350x;
    max-height: 350px;
    white-space: nowrap;
    display: block;
    overflow-x: auto;
}

#editSelectionContainer > ul > li {
    float: left;
}

#inputId {
    display: none;
}

#selectAll {
    margin-bottom: 1.5em;
}

#lableTag {
    top: 48%;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.5);
}

.container {
    width: 100%;
    height: 100%;
    background-image: url('../images/icons/import.png');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    background-color: rgba(41, 95, 115, 0.85);
    transition: 0.6s;
}

.container:hover {
    transition: 0.6s;
    background-color: rgba(41, 95, 115, 0.65);
    cursor: pointer;
}

.sessionLI {
    background-color: #0a1827;
    color: #ffffff;
    margin: 1em 0em;
    padding: 1.5em;
    text-align: center;
}

.sessionLI:hover {
    background-color: #1e4573;
    cursor: pointer;
}

.selected {
    background-color: #a3b83b;
    box-shadow: 0px 5px 5px 5px #444444;
}

.icon {
    width: 25px;
    height: 25px;
}
